.container {
    padding: 5px;
    .custom__img {
        width: 100px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    hr {
        background: black;
    }
    .hoadon__ten {
        font-size: 18px;
        font-weight: 600;
    }

    .flex_custom {
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
::ng-deep.ant-input-affix-wrapper-disabled {
    color: black !important;
    background-color: #fff !important;
}
::ng-deep.ant-input-disabled,
.ant-input[disabled] {
    color: black !important;
    background-color: #fff !important;
}
.right {
    float: right;
    right: 0;
}
.font__weight {
    font-size: 15px;
    font-weight: 500;
}
