<div [@routerTransition]>
    <layout-page-list-custom>
        <ng-container filterBox>
            <filter-spin
                (onSearch)="refresh()"
                (onRefresh)="clear()"
                (keydown.enter)="refresh()"
                [isTypeButtonSearch]="true"
                [isShowTitleSearch]="true"
            >
                <input
                    nz-input
                    type="text"
                    class="txtSearchCustom"
                    [(ngModel)]="searchDto.filter"
                    placeholder="Nhập từ khóa để tìm kiếm..."
                />
            </filter-spin>
        </ng-container>

        <ng-container tableList>
            <nz-card class="card-custom">
                <table-custom
                    #datatable
                    [rows]="dataList"
                    [isLoading]="isTableLoading"
                    [totalRows]="totalItems"
                    [(pageSize)]="pageSize"
                    [(page)]="pageNumber"
                    (pageSizeChange)="refresh()"
                    (pageChange)="pageNumberChange()"
                    (sortChange)="gridSort($event)"
                    [(selectedDataItems)]="selectedDataItems"
                    bordered="false"
                    [scroll]="{ x: '600px' }"
                    [isMulti]="true"
                >
                    <table-column key="phoneNumber" header="Khách hàng"></table-column>
                    <table-column key="" header="Ngày tạo đơn" width="200">
                        <ng-template tableCell let-data>
                            {{ data.bookingDate | date : "dd/MM/yyyy HH:mm" }}
                        </ng-template>
                    </table-column>
                    <table-column key="tongTien" header="Tổng tiền" width="150">
                        <ng-template tableCell let-data>
                            {{ data.tongTien | currency : "VND" : "VNĐ" | splitVND : data.tongTien }}
                        </ng-template>
                    </table-column>
                    <table-column key="strStatus" header="Trạng thái" width="150">
                        <ng-template tableCell let-data>
                            <ng-container *ngIf="data.status == TrangThaiMuaHang.DaDat">
                                <span class="p-2 badge rounded-pill bg-info">{{ data.strStatus }}</span>
                            </ng-container>
                            <ng-container *ngIf="data.status == TrangThaiMuaHang.DaGiaoHang">
                                <span class="p-2 badge rounded-pill bg-success">{{ data.strStatus }}</span>
                            </ng-container>
                            <ng-container *ngIf="data.status == TrangThaiMuaHang.TuTroi">
                                <span class="p-2 badge rounded-pill bg-danger">{{ data.strStatus }}</span>
                            </ng-container>
                        </ng-template>
                    </table-column>
                    <table-column header="" width="50" headerAlign="center" contentAlign="center" fixRight="true">
                        <ng-template tableCell let-data>
                            <button style="border: none !important" nz-button nz-dropdown [nzDropdownMenu]="menu4">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <nz-dropdown-menu #menu4="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>
                                        <a (click)="showDetail(data)">
                                            <i class="fas fa-info-circle"></i> Xem chi tiết
                                        </a>
                                    </li>
                                    <li nz-menu-item *ngIf="data.status == TrangThaiMuaHang.DaDat">
                                        <a (click)="xuLyDonHang(data)">
                                            <i class="fas fa-check-circle"></i> Xử lý đơn hàng
                                        </a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </ng-template>
                    </table-column>
                </table-custom>
            </nz-card>
        </ng-container>
    </layout-page-list-custom>
</div>
