<div class="modal-body">
    <div nz-row>
        <label>Mã tự động</label> <span style="color: red">*</span>
        <div nz-col class="gutter-row ml-2" [nzSm]="7" [nzXs]="7">
            <nz-switch [(ngModel)]="isMaTuDong" nzCheckedChildren="Có" nzUnCheckedChildren="Không"></nz-switch>
        </div>
        <div *ngIf="isMaTuDong == false" nz-col class="gutter-row" [nzSm]="24" [nzXs]="24">
            <input
                nz-input
                required
                maxlength="12"
                [(ngModel)]="dataItem.categoryCode"
                [disabled]="dataItem?.id > 0 ? true : false"
                #categoryCodeModel="ngModel"
                #categoryCodeEl
            />
            <abp-validation-summary [control]="categoryCodeModel" [controlEl]="categoryCodeEl"></abp-validation-summary>
        </div>
        <div nz-col class="gutter-row" [nzSm]="24" [nzXs]="24">
            <label>Tên loại</label> <span style="color: red">*</span>
            <div>
                <input
                    nz-input
                    required
                    [(ngModel)]="dataItem.categoryName"
                    #categoryNameModel="ngModel"
                    #categoryNameEl
                />
                <abp-validation-summary
                    [control]="categoryNameModel"
                    [controlEl]="categoryNameEl"
                ></abp-validation-summary>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSm]="24" [nzXs]="24">
            <label>Ghi chú</label>
            <div>
                <textarea nz-input rows="4" [(ngModel)]="dataItem.note"></textarea>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="save()">
            {{ titleButton }}
        </button>
        <button nz-button nzType="default" (click)="close()">Hủy</button>
    </div>
</div>
