.inner-box {
    min-height: 150px;
    min-width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 24px 0 #22292f24;
    .value {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        cursor: default;
    }
    .content_buy {
        .item {
            display: flex;
            flex-direction: row;
            margin-bottom: 28px;
            .item__img {
                position: absolute;
                img {
                    width: 60px;
                    height: 70px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 10px;
                    transform: rotate(-20deg);
                }
            }
            .item__container {
                width: 100%;
                height: 50px;
                border: 1px solid #ebebeb;
                background: #f3f1f199;
                margin-top: 12px;
                border-radius: 10px;
                .item__text {
                    width: 100%;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    text-align: center;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .item__container::before {
                content: "";
                width: 20px;
                height: 49px;
                position: absolute;
                background: #cf5555;
                float: right;
                right: 0;
                margin-right: 24px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        .item:nth-child(2),
        .item:nth-child(4) {
            .item__img {
                img {
                    transform: rotate(20deg) !important;
                }
            }
            .item__container::before {
                content: "";
                background: #6fb4f1 !important;
            }
        }
        .item:nth-child(3) {
            .item__container::before {
                content: "";
                background: #d6a07c !important;
            }
        }
        .item:nth-child(5) {
            .item__container::before {
                content: "";
                background: #f0ea91 !important;
            }
        }
    }
}

.color-do {
    background-color: rgb(207, 85, 85) !important;
}
.color-xanh {
    background-color: #6fb4f1 !important;
}
.color-vang {
    background-color: #f0ea91 !important;
}
.color-donhat {
    background-color: #d6a07c !important;
}
.icon {
    padding: 20px;
    margin-left: 10px;
    background-color: coral;
    border-radius: 5px;
    box-shadow: 0 4px 24px 0 #22292f24;

    i {
        color: #fff;
        font-size: 30px;
    }
}
.text_title {
    font-size: 16px;
    font-weight: 600;
    right: 0;
    float: right;
    padding: 5px;
}

.text {
    font-size: 16px;
    font-weight: 600;
}

.m-h-500 {
    min-height: 557px !important;
}
